

$color-primary-border:rgba(lighten(#007C85,12),.6);
$color-primary-light:lighten(#007C85,5);
$color-primary:#2F6F7C;
$color-primary-dark:darken(#007C85,12);
$color-black:#000;

$color-header-bkg:#347A82;
$color-left-menu-active-bkg:#31717E;
$color-landing-screen-bkg:#2F6F7C;
$color-modal-bkg:#009C9C;

$color-gray:rgb(238,238,238);
$color-gray-dark: #999;
$color-white:#fff;
$color-header-btn:#c9daeb;
$color-header-btn-hover:#c1ffd4;

$color-teritiary-btn:lightblue;
$color-teritiary-btn-focus:rgb(20, 148, 223);
$color-secondary-btn-focus:#116fbf;
$color-blank-bkg:#F1FDFE;

$color-orange-btn:rgb(255,157,37);
$color-orange-btn-focus:darken(yellow,2);
$color-table-area-code:rgb(231,255,181);
$color-login-input-text:rgb(255,255,148);
$color-error-bkg:rgb(210,0,0);


$default-font-size:1.1rem;

$gutter-vertical: 1rem;

$gutter-horizontal: 1rem;

$grid-width:192rem;

$left-panel-width:3rem;
$left-menu-gutter-vertical: 0.5rem;
$left-menu-padding-vertical: 1rem;
$right-panel-width:30rem;


$main-page-height:80vh;
$page-gutter-horizontal:1rem;



